body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}
.invisible {
    display: none;
}

.simulation {
    display: grid;
    grid-template-columns: repeat(128, 1fr);
    gap: 0;
}

.cell {
    width: 4px;
    height: 4px;
}